{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/mango_cocktail.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">I want to put a dent in the universe!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>As a highly motivated and detail-oriented individual with a passion for technology, I believe that I would make a valuable addition to your team.
          Currently pursuing a degree in Information System Management at Carnegie Mellon University, </p>
        <p>I have gained a solid foundation in software development principles, business analytical skills and techniques. Moreover, I have completed several computer science courses, including data structures and algorithms, programming languages, and database management, which have provided me with a strong understanding of software development and coding languages.
          In my previous roles in Deloitte, PwC and KYMCO Capital (a local venture capital firm in Taiwan), I have honed my communication, problem-solving, and time management skills. These experiences have allowed me to develop a deep appreciation for teamwork, critical thinking, and attention to detail.</p> 
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}